.hypergrid-container {
    position: relative;
    height: 500px;
}
.hypergrid-container > div:first-child {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.hypergrid-container > div:first-child > div.info {
    position: absolute;
    display: none; /* initially hidden */
    margin-top: 150px; /* to place below headers */
    color: #eee;
    text-shadow: 1px 1px #ccc;
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    top: 0; right: 0; bottom: 0; left: 0;
}
.hypergrid-textfield {
    position: absolute;
    font-size: 12px;
    color: black;
    background-color: ivory;
    box-sizing: border-box;
    margin: 0;
    padding: 0 5px;
    border: 0; /*border: 1px solid #777;*/
    outline: 0;
}

div.hypergrid-combobox {
    position: absolute;
    display: none;
    outline: 0;
    padding: 0;
    border: 0; /*border: 1px solid #777;*/
    box-sizing: border-box;
    background-color: ivory;
    color: black;
    font-size: 12px;
}
div.hypergrid-combobox > input {
    position: absolute;
    margin-top: -1px;
    height: 100%;
    right: 20px;
    left: 0;
    width: 100%;
    outline: 0;
    padding: 0;

    border: 5px solid transparent;
    border-right-width: 20px;
    border-bottom-width: 0;
    border-top-width: 0;
    box-sizing: border-box;

    font-size: 12px;
    color: black;
    background-color: transparent;
}
div.hypergrid-combobox > span {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 100%;
    right: 0;
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
}
div.hypergrid-combobox span[title] {
    color: lightgrey;
    cursor: pointer;
    margin-top: -2px;
}
div.hypergrid-combobox span[title]:hover {
    color: grey;
}
div.hypergrid-combobox span[title]:active, div.hypergrid-combobox span[title].active {
    color: blue;
}
div.hypergrid-combobox > span {
    margin-top: -1px;
}
div.hypergrid-combobox > span::after {
    content: '\25BE';
    font-size: 20px;
}
div.hypergrid-combobox > div {
    position: absolute;
    left: -1px;
    right: -1px;
    top: 14px;
    height: 0;
    transition: height .25s;
    visibility: hidden;
    /*box-shadow: white 0 0 1px 1px;*/
    box-sizing: border-box;
    border: 1px solid #777;
    background-color: ivory;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
div.hypergrid-combobox > div > div {
    position: absolute;
    height: 13px;
    width: 100%;
    text-align: center;
}
div.hypergrid-combobox > div span[title] {
    font-weight: bold;
    font-size: 12px;
    font-family: verdana, geneva, sans-serif;
    margin-left: 6px;
    margin-right: 6px;
}
div.hypergrid-combobox > div span:not([title]) {
    font-style: italic;
    padding-top: 1px;
}
div.hypergrid-combobox > div select {
    position: absolute;
    padding-top: 2px;
    border: 0;
    outline: 0;
    border-top: 1px solid #777;
    width: 100%;
    top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9px;
}
div.hypergrid-combobox > div select option:hover {
    background-color: #777;
    color: ivory;
}
