.*
*.css
*.html

/[0-9]*
/demo
/doc
/html/*.html
/images/**
!/images/images.js
/jsdoc-template-hypergrid
/src/jsdoc
/test

/favicon.ico
/gulpfile.js
/*.sh
/*.md

index.js
!/index.js
!/css/index.js
!/images/index.js
!/src/cellRenderers/index.js
!/src/cellEditors/index.js
!/src/dataModels/index.js
!/src/renderer/index.js
!/src/features/index.js
