.*
*.css
*.html

/add-ons
/demo
/doc
/html/*.html
/images/**
!/images/index.js
!/images/images.js
/jsdoc-template-hypergrid
/src/jsdoc
/test

/favicon.ico
/gulpfile.js
/*.sh
/*.md

# Following files support Hypergrid.require and are not needed in the npm module
# because Browserify's require() can drill down inside folders.
/src/index.js         # creates fin.Hypergrid w/ .src, .modules, and .require
/src/module-loader.js # Hypergrid.require
/beahviors/index.js   # folder index
/dataModels/index.js  # folder index
/features/index.js    # folder index
/lib/index.js         # folder index
