body {
    margin: 8px;
    font: 11pt/1.4 serif;
}
.snippet {
    display: none;
}
h1, h2, h3, h4, h5 {
    font-family: sans-serif;
}
li {
    margin-top: .65em;
}
pre {
    font: 8pt monospace;
    background-color: #eee;
    border: 1px solid #aaa;
    padding: .8em;
    white-space: pre-wrap;
    margin: 1em 0;
}
span.button {
    font-family: sans-serif;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 4px;
    margin: 0 2px;
    font-size: 8pt;
}
a.code, code {
    font-family: monospace;
    font-size: smaller;
    background-color: #d4d4d4;
    padding: 0 4px;
    border-radius: 4px;
    border: 1px solid #bbb;
}
a.code:hover {
    text-decoration: none;
    background-color: blue;
    color: white;
    border: 1px solid transparent;
}
p {
    margin: .6em 0;
}
h2 {
    font-size: 14pt;
    border-bottom: 2px solid black;
    /*letter-spacing: 1px;*/
}
.continued:after {
    content: '(continued)';
    font-style: italic;
    font-size: 9pt;
    font-weight: normal;
    margin-left: 1em;
    letter-spacing: 0;
}
h3 {
    border-bottom: 1px solid grey;
    margin-bottom: .6em;
}
h4 {
    color: #333;
    margin-bottom: .3em;
}
h5 {
    color: #666;
    margin-bottom: .3em;
}
div.note {
    font-size: 9pt;
    margin: .9em 1em;
    padding: .4em 1em;
    border-left: 8px solid #ccc;
}
div.note:before {
    content: 'Note: ';
    font-weight: bold;
}

/* FOOTNOTES */

a.superscript {
    color: #44f;
    text-decoration: none;
}
table.footnote {
    margin: 1.5em .6em 0 .6em;
}
table.footnote > caption {
    text-align: left;
}
table.footnote > caption > div {
    vertical-align: super;
    width: 10em;
    border-bottom: 1px solid black;
}
table.footnote td {
    font-size: smaller;
    text-align: justify;
    vertical-align: top;
}

/* ACTIVITIES */
article.activity > section > ol {
    font: 10pt / 1.4 sans-serif;
    border: 1px dashed #aaa;
    background-color: ivory;
    padding: 0.5em 1em 0.5em 45px;
    border-radius: 10px;
}
article.activity > section > ol > li {
    margin: .75em 0 .75em -1em;
}
article.activity > section > ol ul,
article.activity > section > ol ol {
    padding-left: 20px;
}
article.activity > section > ol ul > li,
article.activity > section > ol ol > li {
    font-size: smaller;
    margin-top: .25em;
}
article.activity > section > ol > li.observe:before {
    content: 'Observe: ';
    font-style: italic;
}
article.activity > header:first-child {
    position: relative;
    margin: 1.5em 0;
    background-color: #ccc;
    padding: .75em 1em .75em 105px;
    font: 13pt sans-serif;
    font-weight: bold;
}
article.activity > header:first-child > div:first-child {
    position: absolute;
    left: .75em;
    font-weight: normal;
}
article.activity > header:first-child > div:first-child:before {
    content: 'Activity ';
}
article.activity > header:first-child > div:first-child:after {
    content: ':';
}
fieldset {
    background-color: ivory;
    border: 1px solid grey;
    margin: 1em .5em;
}
fieldset > legend {
    margin-bottom: .6em;
    font: bold 12pt sans-serif;
    border-radius: 9px;
    background-color: ivory;
    padding: .5em 1em .4em;
    border: 1px solid grey;
}
a.tab {
    font-style: italic;
}
