body {
    font-family: sans-serif;
}
#json-example div.finbar-vertical {
    margin: 0px;
    width: 17px;
    background-color: rgba(237, 237, 237, 1);
    box-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 0px #000;
}
#json-example div.finbar-vertical div.thumb {
    margin: 2px 0px 17px 0px;
    width: 11px;
    background-color: rgba(158, 158, 158, 1);
    box-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 0px #000;
    border-radius: 0px;
    border: 1px solid rgba(132, 132, 132, 1);
    right: 3px;
}
#json-example div.finbar-horizontal {
    margin: 0px;
    height: 17px;
    background-color: rgba(237, 237, 237, 1);
    box-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 0px #000;
}
#json-example div.finbar-horizontal div.thumb {
    margin: 0px 2px;
    height: 11px;
    background-color: rgba(158, 158, 158, 1);
    box-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 0px #000;
    border-radius: 0px;
    border: 1px solid rgba(132, 132, 132, 1);
    bottom: 3px;
}
div#dashboard {
    position: static;
    float: left;
    font-size: 9pt;
    margin: .5em;
    color: #666;
}
div#dashboard div.twister {
    cursor: pointer;
}
div#dashboard div.twister:before {
    content: '▶ ';
}
div#dashboard div.twister.open:before {
    content: '▼ ';
    margin-left: -1px;
}
div#dashboard div.choices {
    display: none;
    margin-left: 1.325em;
}
div#dashboard div.choices > label {
    display: block;
}
div#dashboard > div {
    position: relative;
}
div#dashboard > div#buttons > button {
    margin-bottom: .5em;
    display: block;
    white-space: nowrap;
    width: 100%;
    background-color:#ddd;
    border-radius:99px;
    border:0;
    outline:0;
}
div#buttons > button:hover {
    background-color:#ccc;
}
div#buttons > button:active {
    background-color:#bbb;
    color: white;
}
.ctrl-group {
    position: static;
    margin-bottom: .25em;
}
.ctrl-group > div.choices > label {
    font-weight: normal;
}
.ctrl-group > div.choices > span {
    font-style: italic;
}
.ctrl-group > div.choices > span:after {
    content: ':';
}
