body {
    font: 9pt sans-serif;
    margin: 8px;
}
.curvy-tabs-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 16px); /* 16px is to ignore the 8px left and right padding of the container */
    border: 0;
}
table {
    border-spacing: 12px 6px;
}
textarea {
    font: 8pt monospace;
    background-color: transparent;
    height: calc(100% - 43px);
    border: 0;
    border-top: 1px dashed grey;
    padding: 6px 0 0 0;
    width: 100%;
    display: block;
    resize: none;
}
label {
    white-space: nowrap;
    font: normal 9pt sans-serif;
}
select, input, textarea {
    outline: 0;
}
span.feedback {
    float: right;
    margin-top: 12px;
    display: none;
}
input[type=button].locals {
    background-color: grey;
    color: white;
    cursor: help;
    margin: 9px;
    border-radius: .5em;
}
input[type=button].api {
    background-color: grey;
    color: white;
    font: 12px monospace;
    border-radius: .5em;
    padding: .33em .66em;
    margin: 6px;
    float: right;
}
input[type=button].locals:hover, input[type=button].api:hover {
    background-color: #555;
}
input[type=button].locals:active, input[type=button].api:active {
    color: #555;
    background-color: white;
    border-color: grey;
}
input[type=button].danger {
    color: red;
    border-color: red;
    margin: 9px;
    border-radius: .5em;
    background-color: transparent;
}
input[type=button].danger:hover {
    color: white;
    background-color: red;
}

input[type=button].danger:active {
    color: red;
    background-color: yellow;
}
#hypergrid > div:first-child {
    box-shadow: 3px 3px 15px grey;
}

.divider {
    position: absolute;
    width: calc(50% - 15px);
    border-top: 4px double #ccc;
    top: 218px;
}
.divider:hover {
    border-top: 4px double #444;
    cursor: row-resize;
}
.divider:active {
    border-top: 4px solid #888;
}
span.dangerous-button > svg {
    color: #cb2431;
    fill: currentColor;
    vertical-align: middle;
    cursor: pointer;
}
span.dangerous-button.disabled > svg {
    color: #aaa;
    cursor: no-drop;
}
span.dangerous-button:not(.disabled):hover > svg {
    color: red;
    background-color: yellow;
    border-radius: 1em;
}
sup {
    font-size: 45%;
    font-weight: normal
}