name: Publish

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1.4.4
        with:
          node-version: 14
      - run: npm install
      - run: npm run build:gulp
      - run: npm run build
      - uses: actions/setup-node@v1.4.4
        with:
          registry-url: 'https://registry.npmjs.org'
          scope: '@eclipsetrading'
      - run: npm --no-git-tag-version version ${{ github.event.release.name }}
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
